// button {
// 	border: 0;
// 	background-color: $clr1;
// 	color: whitesmoke;
// 	padding: 5px 10px;
// 	margin: 5px;
// 	cursor: pointer;
// }

.btn-link {
	border: 0;
	background-color: transparent;
	// text-decoration: underline;
	transition: 0.5s;
}
.btn-link:hover {
	background-color: $clr1;
}

.blk-btn{
	background-color: #222325;
	padding: 12px;
	border-radius: 5px;
position: absolute;
bottom: 20px;
left: 20px; 
}

.blk-btn:hover{
	 background-color: #404145;
	 
}
.white-join-btn{
	display: flex;
	height: 30px;
	color: rgba(0, 0, 0, 0.822);
	background-color: white;
	padding-top: 8px;
	padding-bottom: 8px;
	border-radius: 5px;
	padding-left: 10.5px;
	padding-right: 10.5px;
// position: absolute;
bottom: 10%;
left: 43%;
align-items: center;
justify-content: center;
font-weight: bold;
box-sizing: border-box; /* Ensures padding is included in size calculations */
font-size:16px;
line-height:24px;
text-align:start;
letter-spacing:normal;
};
	
	.white-join-btn:hover{
		background-color: #404145;

}

.blk-join-btn{
background-color: #222325;
display: flex;
width: 7.8%;
height: calc(100vw*0.028);
padding: 12px;
border-radius: 10px;
position:relative;
left: 43%;
align-items: center;
justify-content: center;
font-weight: bold;
font-size:16px;
line-height:24px;
text-align:start;
letter-spacing:normal;
}
.can-blk-btn{
	background-color: #222325;
	display: flex;
	height: 30px;
	width: 172px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 16px;
	padding-right: 16px;
	border-radius: 5px;
	position:relative;
	left: 13%;
	align-items: center;
	font-weight: bold;
}

.can-blk-btn:hover{
	background-color: #404145;

}
