button {
	border: 0;
	background-color: $clr1;
	color: whitesmoke;
	padding: 5px 10px;
	margin: 5px;
	cursor: pointer;
}

form > * {
	display: block;
	// width: 200px;
	margin: 10px 0px;
}

.btn-link {
	border: 0;
	background-color: transparent;
	// text-decoration: underline;
	transition: 0.5s;
}
.btn-link:hover {
	background-color: $clr1;
}

.blk-btn{
	background-color: #222325;
	padding: 12px;
	border-radius: 10%;
position: absolute;
bottom: 20px;
left: 20px; 
}

.blk-btn:hover{
	 background-color: #404145;
	 
}
.white-join-btn{
	display: flex;
	height: 30px;
	color: rgba(0, 0, 0, 0.822);
	background-color: white;
	padding: 12px;
	border-radius: 10%;
position: absolute;
bottom: 10%;
left: 43%;
align-items: center;
font-weight: bold;
};
	
	.white-join-btn:hover{
		background-color: #404145;

}

.blk-join-btn{
background-color: #222325;
display: flex;
height: 30px;
width: 79px;
padding: 12px;
border-radius: 10%;
position:relative;
left: 43%;
align-items: center;
font-weight: bold;
}

