// Colors
$clrPrimary1: #fff;
$clrPrimary5: #555;
$clrPrimary4: #333;
$clrPrimary2: #222325;
$clrPrimary3: #000;
$clrPrimary1: #3498db;
$clrPrimary2: #2ecc71;
$clrPrimary3: #34495e;

$clrSecondary0: #FAFAFA;
$clrSecondary12: #f7f7f7;
$clrSecondary1: #f5f5f5;
$clrSecondary9: #f1fdf7;
$clrSecondary14: #efeff0;
$clrSecondary10: #e4e5e7;
$clrSecondary13: #e0e0e0;
$clrSecondary2: #dadbdd;
$clrSecondary3: #ced1d6;
$clrSecondary45: #c5c6c9;
$clrSecondary4: #b5b6ba;
$clrSecondary11: #95979d;
$clrSecondary5: #74767e;
$clrSecondary6: #62646a;
$clrSecondary7: #575353;
$clrSecondary8: #404145;


$bgColor1: #0a4226;
$bgColor2: #2dd12d;
$bgColor3: #1dbf73;
$bgColor4: #45091b;
$bgColor5: #19a463;
$bgColor6: #c00d0d;
$bgColor7: #df6e6e;

$gray1: #f0f0f0;  
$gray2: #e0e0e0;
$gray4: #1a1515;
$gray3: #333;

$clr1: #19a463;
$clr2: #78cdd2;
$clr3: #29bd49; 
$clr4: #d83b3b;  
$clr5: #0070ba;
$clr6: #ffff54; 
$clr7: #ffbe5b;
$clr8: #ff8a8a;
$clr9: #fa3232;
$clr10: #22dd86;
$clr11: #148550;
$clr12: #81e0fd;
$clr13: #2890af;
$clr14: #ffdf80;
$clr15: #ca9800;
$clr16: #f96363;
$clr17: #2e25ad;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

$black-btn: #222325;//כפתור שחור כמו join
$black-btn-hover: #404145;
$green-dark:#003912;//רקע דיב
$green-dark-hover:#126F43;//רקע דיב
$green-light:#00732e;//רקע דיב
$green-shrek:#687200; //רקע דיב
$green-fiverr:#1dbf73; //הנקודה בלוגו, הובר מתחת לקטגוריות
$green-swamp:#687200;
$pink:#BB5170;
$purple: #4D1727; //4div;
$purple-hover:#633341; //4div
$orange:#ff7640;
$brown:#421300;
$brown-light:#8F2900;
$grey-icons:#74767E;
$fiverr-classic-dark-grey:#404145;

 
// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

// #1dbf73
// fonts
$fiverr-defult-font:'macan-regular', "Helvetica-Neue", 'Helvetica', Arial, 'sans-serif';//הפונט הנפוץ ביותר באתר
$fiverr-leaning-font:"domain-display-medium", '"Helvetica Neue", Helvetica, Arial, sans-serif';// פונט מיוחד שבחלק מהפרסומות
$uniqe-font-can-ad:"domain-display-medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
$generic-font:'system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif';