.gig-edit-container {
    width: 100%;
    background-color: #F7F7F7;

    .gig-edit {
        p {
            margin: 0;
        }

        form {
            .form-inputs {
                gap: 1em;
                width: 100%;
                // background: $clrSecondary0;
                background-color: white;
                border: 1px solid $clrSecondary4;
                border-radius: 0.5em;

                .input-group {
                    gap: 1em;
                    grid-template-columns: 1fr;

                    .info {
                        position: relative;
                        gap: 0.25em;

                        label {
                            font-family: 'macan-bold';
                        }

                        p {
                            font-size: 0.9em;
                            color: $clrSecondary6;
                        }

                        .character-counter {
                            position: absolute;
                            bottom: 5px;
                            right: 25px;
                        }
                    }

                    input,
                    textarea,
                    select {
                        min-height: 30px;
                        height: fit-content;
                        border: 1px solid $clrSecondary4;
                        appearance: textfield;
                        width: 100%;
                        border-radius: 0.5em;
                        padding: 0.25em 0.5em;

                        &:focus {
                            outline: none;
                            border: 1px solid $clrSecondary5;
                        }
                    }

                    .multi-select {
                        max-height: 64px;
                        padding: 0;
                    }

                    &:nth-of-type(4) {
                        input {
                            max-height: 30px;
                            width: 90px;
                        }
                    }

                    &:nth-of-type(5) {
                        .info {
                            gap: 0.5em;

                            p {
                                grid-column: 1 / -1;
                            }

                            .upload-preview {
                                .file-upload-container {
                                    height: 100%;

                                    .custom-file-upload {
                                        cursor: pointer;
                                        background-color: #f0f0f0;
                                        border: 1px solid #ddd;
                                        border-radius: 0.5em;
                                        transition: all 0.2s;
                                        align-items: center;
                                        justify-content: center;
                                        height: 120px;
                                        text-align: center;

                                        &:hover {
                                            background-color: #e0e0e0;
                                            color: $bgColor5;
                                        }

                                        img {
                                            border-radius: 0 0 0.5em 0.5em;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .actions {
                justify-content: space-between;
                gap: 1em;
                width: 100%;
                margin-block-end: 1em;

                button {
                    font-weight: bold;
                    font-size: 1rem;
                    padding: 0.75em;
                    border-radius: 0.5em;
                    transition: all 0.3s;
                    gap: 0.25em;
                    align-items: center;

                    &:first-child {
                        margin-top: 33px;

                        width: 33px;
                        height: 14px;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: normal;
                        background: none;
                        color: $green-fiverr;

                        i {
                            transform: rotate(90deg);
                            margin-block-end: 2px;

                            svg {
                                fill: $green-fiverr;
                                transition: all 0.3s;
                            }
                        }

                        &:hover {
                            // background: $black-btn-hover;
                            // color: white;

                            i {
                                svg {
                                    // fill: white;
                                }
                            }
                        }
                    }

                    &:last-child {
                        align-items: center;
                        text-align: center;
                        justify-content: center;
                        margin-top: 33px;
                        width: 185px;
                        padding-left: 20px;
                        padding-right: 20px;
                        padding-top: 11px;
                        padding-bottom: 11px;
                        font-size: 16px;
                        line-height: 24px;
                        font-weight: 600;
                        font-family: $fiverr-defult-font;
                        background: $black-btn;
                        color: white;
                        border: solid 1px $black-btn-hover;
                        letter-spacing: 0.8px;

                        i {
                            margin-block-end: 2px;

                            svg {
                                fill: white;
                                transition: all 0.3s;
                            }
                        }

                        &:hover {
                            color: white;
                            background: $green-fiverr;
                            ;

                            i {
                                svg {
                                    fill: $green-fiverr;
                                }
                            }
                        }
                    }
                }
            }
        }

        .gig-preview-container {
            // background: $clrSecondary0;
            background-color: white;

            border: 1px solid $clrSecondary4;
            border-radius: 0.5em;
            gap: 0.5em;
            height: fit-content;

            .gig-preview-header {
                justify-content: space-between;

                p {
                    font-family: 'macan-bold';
                }

                h3 {
                    color: $clrSecondary8;
                }
            }

            .user-preview {
                margin: 0.5em 0;
            }

            .gig-preview-images {
                border-top: 1px solid $clrSecondary3;
                border-bottom: 1px solid $clrSecondary3;

                .images-selection {
                    width: fit-content;

                    img {
                        object-fit: cover;
                        aspect-ratio: 5/3;
                        width: 20%;
                        opacity: 0.6;
                        padding: 1% 1% 1% 0;
                        cursor: pointer;

                        &:last-child {
                            padding-inline-end: 0;
                        }
                    }
                }
            }

            .gig-preview-filters {
                margin-top: 2em;
                grid-template-columns: repeat(3, 1fr);
                gap: 1em;

                h3 {
                    grid-column: 1 / -1;
                    color: $clrSecondary6;
                }

                .info {
                    h4 {
                        border-bottom: 1px solid $clrSecondary4;
                        font-size: 18px;
                    }

                    p {
                        font-size: 16px;
                    }
                }
            }

            h3,
            h2,
            p {
                font-size: 20px;
            }

            h2 {
                margin: auto;
                font-size: 24px;
            }

            .gig-description {
                color: $clrSecondary8;
            }
        }
    }
}

.gig-edit-container {

    section.gig-edit {
        form {
            .form-inputs {
                padding-top: 33px;
                padding-left: 20px;
                padding-right: 20px;
                padding-bottom: 60px;
                gap: 0px;

                .title-input-group {
                    .add-title {
                        // background-color: blue;
                        display: flex;
                        flex-direction: row;
                        margin-bottom: 36px;

                        .add-title-text {
                            display: flex;
                            flex-direction: column;
                            width: 242px;
                            padding-right: 32px;

                            label {
                                font-size: 16px;
                                line-height: 24px;
                                font-family: $fiverr-defult-font;
                                color: #222325;
                                margin-bottom: 12px;
                                font-weight: 600;
                            }

                            p {
                                font-size: 14px;
                                line-height: 21px;
                                font-family: $fiverr-defult-font;
                                color: #404145;
                                max-width: 210px;
                                height: 105px;
                            }
                        }

                        input {
                            font-family: $fiverr-defult-font;
                            width: 400px;
                            height: 82px;
                            padding-left: 16px;
                            padding-right: 16px;
                            // padding-top: 9px;
                            padding-bottom: 9px;
                            font-size: 18px;
                            line-height: 25px;
                            color: #62646a;
                        }

                        .character-counter {
                            margin-top: 0px;
                        }
                    }
                }

                .description-input-group {
                    margin-bottom: 36px;
                    padding-right: 32px;

                    .description-container {
                        display: flex;
                        flex-direction: row;

                        .Description-form-text {
                            width: 242px;
                            padding-right: 32px;
                            display: flex;
                            flex-direction: column;
                                    font-family: $fiverr-defult-font;

                            label{
                                margin-bottom:12px ;
                            }
                        }

                        textarea {
                            width: 400px;
                        }

                    }
                }
                .input-group-category{
                    margin-bottom: 32px;
                    gap: 0px;


                    .Subcategories-info{
                        width: 400px;
                        // padding-right: 20px;
                        select{
                            // margin-top: 30px;
                        }
                    }
                }
                .delivery-price-container{
                    margin-bottom: 32px;
                .delivery-container{
                    width: 242px;
                    padding-right: 32px;
                }
                }
                .gallery-input-group{
                    gap: 0px;
                    h3{
                        margin-bottom:12px ;
                    }
                    div.info.grid{
                        .upload-preview{
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            img{
                                width: 110px;
                                height: 120px;
                                object-fit: contain;
                            }
                        }

                    }
                }
            }
        }


    }
}