.buyer-my-orders-table{
    width: -webkit-fill-available;
    margin: auto;
    .orders-table-container {
    .orders-table {

            thead{
                tr{
                  
                   
                    th{
                        color: #404145;
                        align-items: center;
                        text-align: center;
                        justify-content: center;
                    }
                }}
        tbody {
            td{
                text-align: center;
            }

            img.gigFirstImgUrl {
                width: 80px;
            }
            .buyer-orders-seller-td{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                gap: 10px;
                height: 120px;
                margin-bottom: 0px;
                @media(max-width:720px){
                    font-size: 14px;
                    line-height: 14px;
                    }
            }
            .order-state{
                @media(max-width:720px){
                width: 60px;
                div{
                    width:60px;
                    font-size: 10px;
                    
                }
            }
        }
        }
    }
}
}