.gig-details {
  max-width: 1304px;
  height: auto;
  margin-inline: auto;
  padding-inline: 32px;
  padding-top: 44px;



  main {
    height: fit-content;
    padding-inline: 32px;

    .explore-category {
      align-items: center;
      font-size: 14px;
      padding-top: 12px;
      margin-block-end: 30px;
      color: $clrPrimary2;

      .divider {
        margin: 0 5px;
        color: $clrSecondary45;
      }
    }

    .gig-details-header {
      width: 100%;

      .gig-overview {
        h2 {
          overflow-wrap: break-word;
          color: $clrSecondary8;
          font-size: 1.75em;
        }
      }

      .gig-thumbnail {
        width: fit-content;

        img {
          object-fit: cover;
          aspect-ratio: 5/3;
          width: 20%;
          opacity: 0.6;
          padding: 1% 1% 1% 0;
          cursor: pointer;

          &:last-child {
            padding-inline-end: 0;
          }
        }
      }
    }

    .about-gig h3 {
      color: $fiverr-classic-dark-grey;
      font-family: macan-regular, Helvetica, Arial, sans-serif;
      font-weight: 700;
      line-height: 28px;
      margin-top: rem(66px);
      margin-bottom: rem(5px);

    }

    .about-gig .gig-description {
      word-wrap: break-word;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      color: #62646a;
      max-height: 200px;
      overflow: hidden;
      word-break: break-word;
      font-family: Macan, Helvetica Neue, Helvetica, Arial, sans-serif;
      display: block;
      margin-top: 1em;
    }
  }
}

.user-details-specific {
  grid-column: 2;
  max-width: 1304px;
  height: auto;
  margin-inline: auto;
  padding-inline: 32px;
  padding-top: 44px;

  .user-details-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    .user-main-info {
      flex: 1;

      .user-header {
        display: flex;
        gap: 20px;
        align-items: flex-start;
        margin-top: 20px;
        align-items: center;

        .user-avatar-specific {
          width: 155px;
          height: 155px;
          border-radius: 50%;
          object-fit: cover;
        }

        .user-info {
          h1 {
            font-size: 24px;
            line-height: 32px;
            font: 400 27px/45px Macan, Helvetica Neue, Helvetica, Arial, sans-serif;
            color: #222325;
            display: inline-flex;
            align-items: center;
            gap: 10px;
            font-weight: 700;
            font-size: 20px;
            line-height: 32px;
          }

          .username {
            color: #74768E;
            font-size: 1rem;
            font-weight: normal;
            margin: 0;
          }

          .rating {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 1rem;
            margin-bottom: -3%;

            span {
              display: flex;
              align-items: center;
              gap: 5px;
            }

            svg {
              width: 16px;
              height: 16px;
              fill: currentColor;
            }


          }

          .pro-badge {
            background-color: #2b1dbf;
            color: white;
            font-size: 12px;
            font-weight: bold;
            padding: 2px 6px;
            border-radius: 3px;
            display: inline-flex;
            align-items: center;
            gap: 5px;
            margin-left: 8px;

            svg {
              width: 14px;
              height: 14px;
            }
          }

          .new-seller-badge {
            background-color: #19a463;
            color: white;
            font-size: 12px;
            font-weight: bold;
            padding: 2px 6px;
            border-radius: 3px;
            display: inline-flex;
            align-items: center;
            gap: 5px;
            margin-left: 8px;

            svg {
              width: 14px;
              height: 14px;
            }
          }

          .top-rated-badge {
            background-color: rgb(255, 224, 179);
            color: rgb(128, 67, 23);
            font-size: 12px;
            font-weight: bold;
            padding: 1px 3px;
            border-radius: 3px;
            margin-left: 10px;
          }

          .level-badge {
            font-family: 'macan-regular';
            display: inline-flex; 
            align-items: center;
            margin-left: 8px; 
            font-size: 14px;
            font-weight: bold;
            color: #333;
          }

          .user-bio,
          .user-location {
            margin-top: 10px;
            color: #222325;
            margin-bottom: -3%;
            font: 400 16px / 28px macan-light;
            ;
            font-family: macan-light;
            line-height: 24px;
            font-size: 15px;
            font-weight: 400;
            display: flex;

            align-items: center;
            gap: 8px;

            svg {
              width: 16px;
              height: 16px;
              fill: currentColor;
            }

            span {
              margin: 0;
              padding: 0;
            }
          }

        }
      }

      .user-about {
        margin-top: 50px;
        margin-bottom: 20px;
        font: 400 16px/24px macan-bold;

        h2 {
          font-size: 16px;
          margin-bottom: 10px;
        }

        p {
          color: $fiverr-classic-dark-grey;
          line-height: 1.5em;
          word-break: break-word;
          font: 400 16px / 24px macan-light;
          ;
          // font-weight: 300;
        }
      }

    }


    .user-contact-card {
      display: flex;
      box-sizing: border-box;
      min-width: 31%;
      text-align: center;
      border-radius: 4px;
      flex-direction: column;
      margin-top: 10%;
      background-color: white;
      padding-left: 33px;
      padding-bottom: 33px;
      border-radius: 10px;
      box-shadow:  0px 0px 16px rgba(0, 0, 0, 0.1);
      // width: 423px;
      // height: 250px;

      .contact-header {
        text-align: center;
        margin-top: 30px;

        .avatar {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          object-fit: cover;
          margin-bottom: 10px;
        }

        h3 {
          font-size:18px;
          margin-bottom: 5px;
        line-height: 25px;
        font-family: $fiverr-defult-font;
      }

        p {
          font-size: 16px;
          line-height: 24px;
          color: #62646a;
          margin-bottom: -2px;
          font-family: $fiverr-defult-font;
        }
      }

      .contact-btn {
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
        // width: 20%;
        background-color: #222325;
        color: white;
        padding: 10px 0;
        text-align: center;
        margin: 20px 0;
        border-radius: 5px;
        font-size: 16px;
        font-style: normal;
        font-family: $fiverr-defult-font;
        font-weight: 600;
        height: 47px;
        cursor: pointer;

        &:hover { 
          background-color: $black-btn-hover
        }
      }

      .response-time {
        font-size: 0.9rem;
        color: $clrSecondary6;
        text-align: center;
        margin-bottom: 30px;
      }
    }
  }

  .user-gigs {
    margin-bottom: 40px;

    h2 {
      font-size: 24px;
      margin-bottom: 20px;
      color: $fiverr-classic-dark-grey;
      font-family: Macan, Helvetica Neue, Helvetica, Arial, sans-serif;
      font-weight: 700;
      line-height: 130%;
    }

    .gigs-list {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      li {
        flex: 1 1 calc(33.333% - 20px);
        max-width: calc(33.333% - 20px);
        list-style: none;
      }
    }
  }

  .gig-reviews-section {
    h2 {
      font-size: 1.5rem;
      margin-bottom: 20px;
    }

    .reviews-summary {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 30px;
      flex-direction: row-reverse;

      .average-rating {
        text-align: center;

        .rating-number {
          font-size: 2.5rem;
          font-weight: bold;
        }

        .stars {
          font-size: 1.2rem;
          color: black;
          margin: 5px 0;
        }

        p {
          font-size: 1rem;
          color: $clrSecondary8;
        }
      }

      .stars-breakdown {
        flex: 1;

        .star-row {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          width: 35%;

          span:first-child {
            flex: 0 0 80px;
            font-size: 0.9rem;
            color: $clrSecondary6;
          }

          .progress-bar {
            flex: 1;
            height: 6px;
            background-color: $clrSecondary2;
            border-radius: 3px;
            overflow: hidden;
            margin: 0 10px;

            .progress {
              height: 100%;
              background-color: black;
            }
          }

          span:last-child {
            font-size: 0.9rem;
            color: $clrSecondary8;
          }
        }
      }
    }

    .reviews-filters {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      input[type='text'] {
        width: 30%;
        padding: 10px 12px;
        color: $fiverr-classic-dark-grey;
        font-size: 1rem;
        border: 1px solid #ced1d6;
        border-radius: 5px 0 0 5px;
        background-color: #fff;
        box-shadow: none;
        transition: 0.15s ease-in-out;
        height: 42px;

        &:focus {
          outline: none;
          border-color: $fiverr-classic-dark-grey;
        }
      }

      .search-icon {
        height: 42px;
        background-color: #222325;
        border-radius: 0 5px 5px 0;
        padding: 0;
        width: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        svg {
          fill: #fff;
          width: 16px;
          height: 16px;
        }

        &:hover {
          background-color: $fiverr-classic-dark-grey;
        }
      }

      label {
        align-items: center;
        gap: 5px;
        font-size: 1rem;
        color: #74768e;

        input {
          margin-right: 5px;
        }
      }
    }


    .reviews-list {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 20px;
      }
    }
  }

  .user-skills {
    margin-top: -10%;
    margin-bottom: 5%;

    h2 {
      font-size: 16px;
      font-weight: 600;
      color: #222325;
      margin-bottom: 15px;
      font-family: macan-bold;
    }

    .skills-list {
      display: flex;
      flex-wrap: wrap;
      gap: 10px 20px;
      row-gap: 15px;
      width: 60%;
    }

    .skill {
      display: inline-block;
      background-color: #ffffff;
      color: $fiverr-classic-dark-grey;
      font-size: 14px;
      font-weight: 500;
      padding: 8px 15px;
      border-radius: 20px;
      border: 1px solid #e4e5e7;
      white-space: nowrap;
      cursor: default;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      transition: all 0.2s ease;

      &:hover {
        background-color: #f3f3f3;
      }
    }

    .more-skills {
      color: #1dbf73;
      font-weight: 600;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}







.mini-message-bar {
  bottom: 3.5em;
  display: inline-block;
  position: sticky;
  z-index: 5;
  width: fit-content;

  .mini-message-bar-container {
    grid-auto-flow: column;
    align-items: center;
    position: relative;
    background-color: $clrPrimary1;
    border-radius: 4.25em;
    cursor: pointer;
    padding: 0.5em 1.5em 0.5em 0.5em;
    width: fit-content;
    box-shadow: 0 0 2.17382px rgba(0, 0, 0, 0.049),
      0 1.75px 6.01034px rgba(0, 0, 0, 0.07),
      0 3.63px 14.4706px rgba(0, 0, 0, 0.091), 0 22px 48px rgba(0, 0, 0, 0.14);

    .avatar {
      background-color: $clrSecondary4;
      position: relative;
      width: 32px;
      height: 32px;
      border-radius: 50%;

      img {
        border-radius: 50%;
        object-fit: cover;
      }

      .status-dot {
        position: absolute;
        bottom: em(-2px);
        right: em(-2px);
        border-width: em(2px);
        width: 0.65em;
        height: 0.65em;
        background-color: $bgColor3;
        border-color: $clrPrimary1;
        border-radius: 50%;
        border-style: solid;
      }
    }

    .owner-info {
      justify-content: space-between;
      padding-inline-start: em(16px);

      .message {
        font-weight: 600;
        color: $clrSecondary8;
      }

      .response-time {
        font-size: 0.75em;
        color: $clrSecondary6;

        .dot {
          align-self: center;
          border-radius: 50%;
          height: em(3px);
          margin: 0 0.5em;
          width: em(3px);
          background-color: $clrSecondary6;
        }
      }
    }
  }

}


.gig-thumbnail {
  width: fit-content;

  img {
    object-fit: cover;
    aspect-ratio: 5/3;
    width: 20%;
    opacity: 0.6;
    padding: 1% 1% 1% 0;
    cursor: pointer;

    &:last-child {
      padding-inline-end: 0;
    }
  }
}