.green-div{
  margin-bottom: 16px;
}

.cat-divs-container{
  display: flex;
  justify-content: space-between;
  padding: 12px;
  width: 100%;
  gap: 15px;
  
}

.cat-div{
  padding: 6px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 118px;
}


.ad-pro{
margin-top: 30px;
position:relative;
border-radius: 30px;

}
 
.signup-ad{
  margin-top: 50px;
  position:relative;
border-radius: 30px;

}

.signup-ad h1{
position: absolute;
}


.icons-divs-container{
  position:relative;
  display: flex;
  margin-top: 30px;
}

.divs-container h1{
  position: absolute;
  font-weight: 400
  }

.icons-div{
width: 30%;
margin-top: 30px;

}
.divs-container{
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  flex-direction: column;
}  
.icons-div img{
  margin-bottom: 10px;
  margin-top: 20px;
}

.canAd-container{
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}
.canAd-text-container{
  display: flex;
  flex-direction: column;
  font-family:Book Antiqua ;
  font-weight: bold;
  padding-top: 56px;
  padding-bottom: 56px;
  padding-right: 40px;
  padding-left: 40px;
  gap: 40px;
  
}
.canAd-text-container h1 span{
  font-weight: 800;

}

// Monaco
// Palatino Linotype
// Palatino Linotype
// Garamond
// Georgia
// Times New Roman
// Book Antiqua

// Serif Fonts

// Times New Roman
// Georgia
// Garamond
// Palatino Linotype
// Book Antiqua

// Sans-Serif Fonts

// Arial
// Helvetica
// Verdana
// Tahoma
// Trebuchet MS

// Monospace Fonts

// Courier New
// Lucida Console
// Monaco

// Cursive Fonts

// Comic Sans MS

// Fantasy Fonts

// Impact
// Papyrus