.green-search-div {
  margin-bottom: 16px;
  background-color: #013A12;
  width: 100%;

  border-radius: 15px;
  z-index: 999;
  display: flex;
  position: relative;
  width: 100%;
  padding: 0;
  height: calc(100vw * 0.325);
  justify-content: center;
  color: white;
  margin-top: calc(70px + 41px); /* Offset to avoid overlap */
  // margin-top: 40px;
  text-align: center;
  overflow: hidden;


  .pinkGuy-img {
    position: absolute;
    border-radius: 10px;
    width: 11%;
    right: 4%;
    top: 13%;
  }

  .yellowGirl-img {
    position: absolute;
    border-radius: 15px;
    width: 10%;
    left: 7.5%;
    top: -0.1%;
  }

  .purpleGuy-img {
    position: absolute;
    border-radius: 15px;
    width: 99%;
    left: 4%;
    bottom: 7.5%;
    z-index: 9;
  }

  .greenGirl-img {
    position: absolute;
    border-radius: 15px;
    width: 9.3%;
    right: 7.5%;
    bottom: 0%;
    z-index: 9;
  }

  .blurredGirl-img {
    position: absolute;
    width: 8%;
    right: 22.5%;
    top: 0%;
  }

  .trustedBy-img {
    position: absolute;
    width: 20%;
    left: 10%;
    bottom: -0.31%;
    z-index: 0;
  }

  .green-search-div-inner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-family: $fiverr-defult-font;
      font-size: 60px;
      line-height: 69px;
      text-align: center;
      letter-spacing: -1.2px;
      font-weight: 100;

      span {
        // background-color: black;
        font-size: 62px;
        line-height: 72px;
        letter-spacing: -1.55px;
        font-family: $fiverr-leaning-font;
        font-style: italic;

      }

    }
  }

  .search-bar-div {
    background-color: white;
    // padding: 10px;
    width: 83%;
    height: 12%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    justify-items: center;
    border-radius: 10px;
    padding-left: 10px;
    gap: 0px;
    margin-top: 40px;
    z-index: 99;

    input {
      width: 100%;
      height: 100%;
      margin: 0;
      border: white;
    }

    input:focus {
      outline: none;
    }

    .search-btn {
      display: flex;
      width: 11%;
      background-color: white;
      // margin-top: 40px;
      border: white;
      border-style: solid;
      border-radius: 10px;
      border-width: 5px;
      // padding: 8px;
      text-align: center;
      justify-items: center;
      justify-content: center;
      overflow: hidden;
      
    }
  }
}

// .big-search-img {
//   background-color: $green-dark;
//   // height: 100%;
//   width: 100%;
//   border-radius: 5px;
//   padding: 15px;
//   object-fit: cover;  
//   // text-align: center;
//   justify-items: center;
//   // justify-content: center;
// }
.big-search-img {
  display: flex;
  align-items: center; /* Vertically center the image */
  justify-content: center; /* Horizontally center the image */
  background-color: $green-dark; /* Optional: background color */
  width: 100%; /* Container width */
  height: 100%; /* Container height */
  border-radius: 5px;
  overflow: hidden; /* Ensure the image doesn't overflow the container */
  padding: 15px;
  border-radius: 10px;

}

.big-search-img img {
  max-width: 100%; /* Scale the image to fit the container width */
  max-height: 100%; /* Scale the image to fit the container height */
  object-fit: contain; /* Ensure the image retains its aspect ratio */
}


.big-search-img:hover {
  background-color: $green-dark-hover;
}

.home-carousel-container {
  padding-top: 40px;
  width: 100%;
  
  h1 {
    color: #404145;
    font-size: 48px;
    line-height: 50.4px;
    letter-spacing: -1.44px;
    text-align: start;
    margin-bottom: 32px;
  }

  .home-carousel {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 22px;

    .popular-div {
      color: white;
      display: flex;
      position: relative;
      flex-direction: column;
      width: 15%;
      max-width: 202px;
      height: calc(100vw * 0.14);
      padding: 6px;
      padding-top: 25px;
      margin-top: 12px;
      margin-bottom: 12px;
      border-radius: 15px;

      h3{
      font-size: 18px;
      line-height: 28px;
      text-align: start;
      letter-spacing: normal;
      } 

      .pop-inner-pic img {
        position: absolute;
        border-radius: 10%;
        bottom: 6px;
      }
    }

    .light-green-div {
      background-color: $green-light;
    }

    .orange-div {
      background-color: $orange;
    }

    .dark-green-div {
      background-color: $green-dark;
    }

    .purple-div {
      background-color: $purple;
    }

    .green-swamp-div {
      background-color: $green-swamp;
    }

    .brown-div {
      background-color: $brown;
    }

    .purple-div {
      background-color: $purple;
    }

    .light-brown-div {
      background-color: $brown-light;
    }

    .green-shrek-div {
      background-color: $green-shrek;
    }

    .pink-div {
      background-color: $pink;
    }

  }
}
.vid-h1{
  font-family:$fiverr-defult-font;
  color: #404145;
  font-size: 48px;
  line-height: 50.4px;
text-align:start;
letter-spacing:normal;
font-weight: 300;
margin-top: 40px;
margin-bottom: 40px;
}


.cat-divs-container {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  width: 100%;
  gap: 20px;

}

.cat-div {
  display: flex;
  // box-shadow: rgba(0, 0, 0, 0.027) 0px 0px 0.880517px 0px, rgba(0, 0, 0, 0.03) 0px 0px 2.29197px 0px, rgba(0, 0, 0, 0.055) 0px 0px 5.52px 0px, rgba(0, 0, 0, 0.09) 0px 0px 11px 0px;
  box-shadow:
    rgba(0, 0, 0, 0.027) 0px 0px 0.880517px 0px, rgba(0, 0, 0, 0.03) 0px 0px 2.29197px 0px, rgba(0, 0, 0, 0.055) 0px 0px 5.52px 0px, rgba(0, 0, 0, 0.09) 0px 0px 11px 0px,
    /* Outer shadow */
    inset 0 0 10px white;
  border-radius: 16px;
  ;
  width: 129px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 12px;
  padding-right: 12px;
  gap: 17px;
  flex-direction: column;

  font-size: 14px;
  line-height: 22px;
  text-align: start;
  letter-spacing: normal;

  // background-color:#D2FFEA; ///
  // background-color:#92ffcc5c; ///

}

.cat-div:hover {
  // background-color: $green-fiverr;
  // background-color: #1dbf7358;
  // box-shadow: inset 0 0 80px 10px #ffffff, inset 0 0 20px 50px #E8FFF4, inset 0 0 0 20px #C8FFE5, inset 0 0 100px 80px #E8FFF4, inset 0 0 100px 80px #1dbf73;

  color: rgb(200, 255, 229);
  cursor: pointer;
  // box-shadow: 
  // rgba(0, 0, 0, 0.027) 0px 0px 0.880517px 0px, rgba(0, 0, 0, 0.03) 0px 0px 2.29197px 0px, rgba(0, 0, 0, 0.055) 0px 0px 5.52px 0px, rgba(0, 0, 0, 0.09) 0px 0px 11px 0px,  /* Outer shadow */
  // inset 0 0 10px white;  // box-shadow: 
  background:
    radial-gradient(circle, rgba(0, 255, 0, 0.09) 0%, rgba(0, 255, 0, 0.09) 25%, transparent 50%),
    radial-gradient(circle, rgba(0, 255, 0, 0.055) 0%, rgba(0, 255, 0, 0.055) 50%, transparent 75%),
    radial-gradient(circle, rgba(0, 255, 0, 0.03) 0%, rgba(0, 255, 0, 0.03) 75%, transparent 100%),
    radial-gradient(circle, rgba(0, 255, 0, 0.027) 0%, rgba(0, 255, 0, 0.027) 100%, transparent 125%),
    white;
  background-blend-mode: multiply;
  z-index: 0;

  color: black;
}

.signup-ad {
  margin-top: 24px;
  position: relative;
  border-radius: 30px;

}

.signup-ad h1 {
  position: relative;
}


.icons-divs-container {
  height: calc(100vw * 0.1);
  position: relative;
  display: flex;
  // margin-top: 24px;
  padding-top: 40px;

}

.divs-container h1 {
  position: relative;
  font-weight: 400;
  // margin-bottom: 64px;
  font-family:$fiverr-defult-font;
  color: #404145;
  font-size: 48px;
  line-height: 50.4px;
text-align:start;
letter-spacing:normal;
font-weight: 300;


}

.icons-div {
  width: 30%;
  margin-bottom: 64px;

}

.divs-container {
  display: flex;
  // margin-top: 50px;
  margin-bottom: 50px;
  flex-direction: column;
  padding-top: 40px;
  // padding-bottom: 40px;
  justify-content: space-between;
  height: calc(100vw * 0.2);
  width: 100%;
}

.icons-div img {
  margin-bottom: 12px;
  // margin-top: 20px;
}

.canAd-container {
  margin-top: 80px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}

.canAd-text-container {
  display: flex;
  flex-direction: column;
  font-family: $fiverr-defult-font ;
  font-weight: bold;
  padding-top: 56px;
  padding-bottom: 56px;
  padding-right: 40px;
  padding-left: 40px;
  gap: 40px;
  font-size: 48px;
  line-height: 48px;
  text-align: start;
  letter-spacing: -0.96px;

  h1{
    font-family:$fiverr-defult-font;
font-size:33.3333px;
line-height:24px;
text-align:start;
letter-spacing:normal;
font-weight: 400;
letter-spacing: 0px;
word-spacing:-10px ;
  }

  p{
    color: $black-btn-hover;
    //  max-width: "1336px" ;
    font-weight: 200;
    span{
      color: #FC842D;
      // word-spacing:-10px ;
      letter-spacing: -1px;
      font-family: $uniqe-font-can-ad;

    }
  }

}

.canAd-text-container h1 span {
  margin-right: 0.2em;
  font-weight: bold;
}

.canAd-pic {
  margin-right: 80px;
} 

.purple-signup-ad {
  color: white;
  background-color: $purple;
  margin-top: 240px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 24px;
  padding-right: 24px;
  // height: 246px;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  /* Ensures padding is included in size calculations */

  column-gap: 40px;
  align-items: center;
  border-radius: 12px;
  position: relative;
  // font-size: 30px;
  // font-stretch: 100%;
  // font-weight: 200;
  font-family: $fiverr-defult-font;
  // line-height: 38px;
  // justify-content: space-between;
  
  h1{
    font-size: 62px;
    font-stretch: 100%;
    font-weight: 100;
    letter-spacing: -1.28px;
    margin-bottom: 27px;
  }
  h1 span {
    color: $orange;
  }
}