.privacy-container{
    display: grid;
    grid-template-columns: minmax(32px, 1fr) minmax(auto, 1400px) minmax(32px, 1fr);


.privacy-main{
    grid-column: 2;
    max-width: 970px;
    margin: auto;
    h1{
        margin-top: 63px;
        font-family: $fiverr-defult-font;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -0.4px;
        font-weight: 700;
        color: $fiverr-classic-dark-grey;
    }
    h2{
        font-size: 32px;
        line-height: 38.4px;
        text-align: justify;
        letter-spacing: -0.32px;
        color: $fiverr-classic-dark-grey;
        font-weight: 700;
        margin-top: 50px

    }
    h3{
        margin-top: 30px;
        font-size: 28px;
        line-height: 36.4px;
        text-align: justify;
        letter-spacing: -0.28px;
        color: $fiverr-classic-dark-grey;
        font-family: $fiverr-defult-font
    }
    h4{
        margin-top: 16px;
        font-family: $fiverr-defult-font;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: -0.18px;
        font-weight: 400;
    }
    p{
        margin-top: 24px;
    }
    ul li{
        list-style-type: disc;
        margin-top: 24px;
        font-family: $fiverr-defult-font;
        font-size: 16px;
        line-height: 24px;
        text-align: justify
    }
}
}