.review-index {
    .review-list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;

        li {
            padding: 5px;
            margin: 5px;
        }

        a {
            padding: 10px;
        }

        h3 {
            background-color: #ddd;
            padding: 10px 5px;
            margin: 5px;
        }
    }
}