.about-gig-seller {

    .gig-seller-details {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "from member-since"
            "avg-time last-delivery"
            "languages languages"
            "about about"
        ;

        gap: 1.5rem;
        padding: 1.5rem;
        border: 1px solid #ddd;
        border-radius: 1px;
        background-color: #fff;
        max-width: 100%;
        font-family: Arial, sans-serif;


        .gig-seller-row-from {
            grid-area: from;
        }

        .gig-seller-row-member-since {
            grid-area: member-since;
        }

        .gig-seller-row-avg {
            grid-area: avg-time;
        }

        .gig-seller-row-last-delivery {
            grid-area: last-delivery;
        }

        .gig-seller-row-languages {
            grid-area: languages;
        }

        .gig-seller-row-about {
            grid-area: about;
            padding-top: 1rem;
        }

        .gig-seller-row-about p {
            border-top: 1px solid #ddd;
            font-size: 0.85rem;
            color: #666;
            font-weight: normal;
        }

        div:not(.gig-seller-row-about) {
            border-top: none;
            /* Prevents any unintended borders globally */
        }


        div {
            display: flex;
            flex-direction: column;
            gap: 0.2rem;

            strong {
                font-size: 0.85rem;
                color: #666;
                font-weight: normal;
            }

            p {
                font-size: 0.85rem;
                color: #333;
                font-weight: bold;
                margin: 0;
            }
        }
    }
}

.avatar-container {
    position: relative;
    width: 100px;  
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    border-radius: 50%;
    background: linear-gradient(15deg, #32c787, #28a745);
    padding: 5px;
    animation: shine 2s infinite; 


    .avatar-get-to-know {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
        background-color: #f3f4f6;
    }
}


.get-to-know {
    .user-details {
        .fullname {
            font-size: 18px;
            font-weight: bold;
            color: #404145;
            margin-bottom: 5px;

            a {
                text-decoration: none;
                color: inherit;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .user-role {
            font-size: 14px;
            color: #6b7280;
            margin-bottom: 10px;
        }

        .rating {
            .stars {
                color: #0b0b0b;
                font-size: 14px;
            }

            .rating-score {
                font-size: 14px;
                color: #404145;
                margin-left: 5px;
            }
        }
    }
}

@keyframes shine {
    0% {
      box-shadow: 0 0 1px #32c787, 0 0 3px #28a745;
    }
    50% {
      box-shadow: 0 0 1px #32c739, 0 0 3px #28a745;
    }
    100% {
      box-shadow: 0 0 2px #32c787, 0 0 3px #28a745;
    }
  }