.about-gig-seller {
    // width: 100%;
    // display: flex;
    // align-items: stretch; // Ensure all rows stretch to the same height
    // // padding: 20px;
    // // background-color: #f9f9f9;

    .gig-seller-details {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "from member-since"
            "avg-time last-delivery"
            "languages languages"
            "about about"
        ;

        gap: 1.5rem;
        padding: 1.5rem;
        border: 1px solid #ddd;
        border-radius: 1px;
        background-color: #fff;
        max-width: 100%;
        font-family: Arial, sans-serif;


        .gig-seller-row-from {
            grid-area: from;
        }

        .gig-seller-row-member-since {
            grid-area: member-since;
        }

        .gig-seller-row-avg {
            grid-area: avg-time;
        }

        .gig-seller-row-last-delivery {
            grid-area: last-delivery;
        }

        .gig-seller-row-languages {
            grid-area: languages;
        }

        .gig-seller-row-about {
            grid-area: about;
            padding-top: 1rem;
        }

        .gig-seller-row-about p {
            border-top: 1px solid #ddd;
            font-size: 0.85rem;
            color: #666;
            font-weight: normal;
        }

        div:not(.gig-seller-row-about) {
            border-top: none;
            /* Prevents any unintended borders globally */
        }


        div {
            display: flex;
            flex-direction: column;
            gap: 0.2rem;

            strong {
                font-size: 0.85rem;
                color: #666;
                font-weight: normal;
            }

            p {
                font-size: 0.85rem;
                color: #333;
                font-weight: bold;
                margin: 0;
            }
        }
    }
}