.breadcrumb-wrapper {
  margin-top: 16px; 
  
  padding: 8px 16px;
  background-color: #fff; 
  border-bottom: 1px solid #e4e5e7; 
}

.explore-category {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #95979d; 
  // justify-content: center; 
  // align-items: center;
  margin-left: 23.5%;
}

.explore-category .divider {
  margin: 0 8px;
  color: #d0d0d0; 
}

.explore-category .category {
  font-weight: 500;
  color: #404145; 
}

.explore-category .tag {
  font-weight: 400;
  color: #95979d; 
}
