.gig-details-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    font-family: macan-light;

    .gig-title h2 {
        font-size: rem(28px);
        font-weight: bold;
        color: #1c1e1e;
        margin-top: 2rem;
        word-break: break-word;
        overflow-wrap: break-word;
        white-space: normal;
    }

    .gig-details a {
        text-decoration: none;
        color: white;
        padding: 10px 5px;
        background: #222325;
        border-radius: 5px;
        display: inline-block;
        margin-bottom: 20px;
        display: flex;
    }
}

.gig-tags {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    font-size: rem(14px);
    gap: 4px;
}

.home-icon {
    display: flex;
    align-items: center;
    margin-left: 15px;
    padding: 5px; 
}

.home-icon a:hover {
    background-color: #f2f2f2;
    border-radius: 50%;
    padding: 5px; 
  }

.separator {
    margin: 0 4px;
    color: #888;
}

.tag {
    color: #222325;
    white-space: nowrap;
    font-weight: 300;
}