.gig-details-header {
    .gig-tags {
        display: flex;
        align-items: center;
        font-size: .9em;
        color: #0e0f0f;
        gap: 5px;
    }

    .home-icon {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .separator {
        color: #ccc;
        margin: 0 5px;
    }

    .tag {
        white-space: nowrap;
        font-size: 1em;
        color: #070707;
    }
}