.gig-results-title {
  width: 100%;


  .search-param {
    h1 {
      font-size: rem(28px);
      font-family: $fiverr-defult-font;
      font-weight: 400;
      line-height: 36px;
      color: $clrPrimary2;
      padding: 1rem 0;
    }
  }

  .explore-category {
    z-index: 99;
    padding: 0.75em 0;
    color: $clrSecondary8;
    margin-top: 50px;
    margin-bottom: -35px;

    a {
      display: flex;
      align-items: center;
      padding: 5px;

      i {
        display: block;
        padding-bottom: 2px;
        svg{
          display: block;
          fill: #222325;
        }
      }
    }
     a:hover {
      cursor: pointer;
      background-color: #f2f2f2;
      border-radius: 50%;
  
    }

    Link {
      padding: rem(9px);
    }

    .divider {
      color: $clrSecondary45;
      margin: 0 0.5em;
    } 

    span.category:hover{
      text-decoration: underline;
    }
  }
}
.gig-category-title {
  display: grid;
  grid-template-columns: minmax(32px, 1fr) minmax(auto, 1400px) minmax(32px, 1fr);
  grid-column: 2;
  text-align: left; 

    h1 {
      margin-top: 44px;
      grid-column: 2;
    font-size: 32px; 
    font-weight: 700;
    color: #222325; 
    padding: 8px 0;
    line-height: 36px;
    text-transform: none !important;
    font-family: $fiverr-defult-font;
  }
}

.gig-filter {
  position: sticky;
  z-index: 5;
  top: 0;
  padding-block-start: 1em;

  .floating-top-bar {
    justify-content: space-between;
    display: flex;
    margin-top: 10px;

    
    gap: 0.5em;

    .btn-mobile-filter {
      display: grid;
      grid-auto-flow: column;
      gap: 0.5em;
      align-items: center;
      border: 1px solid $clrSecondary45;
      border-radius: rem(24px);
      color:black; 
      font-weight: 600;
      font-size: 1rem;
      background: none;
      padding: rem(8px) rem(12px);
      margin: 0.25em 0;
      transition: border-color 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    .clear-filter {
      border-radius: 1.5em;
      border: 1px solid black;
      padding: 0.5em 0.75em;
      margin: 0.25em 0;
      min-height: fit-content;
    }

    .floating-menu {
      position: relative;
    }

    .filter-nav {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;

      .btn {
        span {
          transition: all 0.24s cubic-bezier(0.215, 0.61, 0.355, 1);
        }
      }
      
    }

  }

  &::after {
    content: '';
    display: block;
    height: 1em;
    padding-inline:0 5px;
  }
}

.selected-filters-wrapper {
  width: 100%;

  

  .selected-filters {
    .select-filter {
      background-color: $clrSecondary1;
      border: none;
      border-radius: 56px;
      color: black;
      margin: 0 rem(10px) rem(10px) 0;
      padding: 0.25em 1em;
      transition: border-color 0.35s ease;
      cursor: pointer;
      font-family: $fiverr-defult-font;
      font-weight:bold;
      width: fit-content;
      align-items: center;
      display: grid;

      .remove-icon {
        svg {
          fill: $clrSecondary6;
        }

        margin-left: 12px;
        position: relative;
      }
    }

    .select-filter:hover {
      color: $clrSecondary6;
    }
  }
  
}
.pro-services-toggle {
  display: flex;
  
  
  label {
    display: flex;
    align-items: center;
    
    cursor: pointer;
  }
  
  input[type="checkbox"] {
    display: none;
  }
  
  .toggle-switch {
    width: 31px;
    height: 18px;
    background-color: #dadbdd;
    border-radius: 20px;
    position: relative;
    margin-right: 10px;
    transition: background-color 0.4s;

    &::after {
      content: '';
      width: 14px;
      height: 14px;
      background-color: #fff;
      border-radius: 50%;
      position: absolute;
      top: 2px;
      left: 3px;
      transition: transform 0.4s;
    }
  }

  input[type="checkbox"]:checked + .toggle-switch {
    background-color: #1dbf73;

    &::after {
      transform: translateX(12px);
    }
  }

  .toggle-label {
    font-size: 16px;
    line-height: 24px; 
    color: #62646a;
    justify-self: flex-end;
    font-family: $fiverr-defult-font;
  }
}

@media (max-width:901px){
  .gig-list-container{
    margin-top: 0px; 
  }
  .gig-index .gig-filter .floating-top-bar {
    display: flex;
    flex-direction: column;
    .pro-services-toggle{
      margin-top: 30px;
    }
  }
  @media (max-width: 801px) {
    .filter-nav {
      align-items: flex-start; 
    gap: 10px;
  
    .floating-menu {
      margin-bottom: 10px; 
  
    .btn {
      width: 100%; 
      text-align: left; 
    }
  }
}
  }


  @media (min-width:600px) {
    
  
  .filtered-clr{
    min-width: 116px

  }
  .floating-menu {
    .filtered-sl{
      min-width: 138px

    }
    .filtered-dt{
min-width: 157px
}
}
}
}

@media (min-width:801px){
  .gig-list-container{
    margin-top: 1.5em;

  }
}