.grid-gig-list-container { 
  // shinoi4
display: grid;
grid-template-columns: minmax(32px, 1fr) minmax(auto, 1400px) minmax(32px, 1fr);
} 
.gig-list-container {
  grid-column: 2;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  width: 100%;
} 
 
.results-count {
  // margin-inline-start: 16em; shinoi4
  font-size: 10px;
  line-height: 24px;
  color: #74767e;
  margin-bottom: 1%;
  font-family: macan-light;

  @media screen and (max-width: 600px) {
    
    font-size: 1em; 
  }

  @media screen and (min-width: 601px) {
    font-size: 1.00em; 
    margin-top: -10px;

  }
}

.gig-list {
  // margin-top: 1.5em; shinoi
  margin-top: 17px;
  margin-bottom: 1.5em;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  width: 100%;
  flex: 10;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.7s, transform 0.7s;

  &.show {
    opacity: 1;
    transform: translateY(0%);
  }

  @media screen and (max-width: 600px) {
    grid-gap: rem(12px);
  }

  @media screen and (min-width: 601px) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: rem(16px);
  }

  @media screen and (min-width: 900px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (min-width: 1160px) {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 32px;
  }
}
