
.vid-container{
  margin-top: 150px;

}

.vid-h1{
    font-family:$fiverr-defult-font;
    color: #404145;
    font-size: 48px;
    line-height: 50.4px;
  text-align:start;
  letter-spacing:normal;
  font-weight: 300;
  margin-top: 90px;
  margin-bottom: 40px;
  }

  @media(max-width:480px){
    .vid-container{

      display: none;
    }
  }