
.vid-container{
  margin-top: 150px;

}

.vid-h1{
    font-family:$fiverr-defult-font;
    color: $fiverr-classic-dark-grey;
    font-size: 48px;
    line-height: 50.4px;
  text-align:start;
  letter-spacing:normal;
  font-weight: 300;
  margin-top: 90px;
  margin-bottom: 40px;
  }

  @media (max-width:900px){
    .vid-container{
      display: none;
    }
  }

  @media (min-width:900px){
    .vid-container{
      margin-right: 32px;
    }
  }
  @media (min-width:1200px){
    .vid-container{
      margin-right: 32px;
    }
  }