.home-carousel-container {
  max-width: 100%;
  margin-top: 78px;
  position: relative;
  h1 {
    color: $fiverr-classic-dark-grey;
    font-size: 48px;
    margin-bottom: 44px;
    line-height:50.4px;
  }
}


.carousel-wrapper {
  overflow: hidden;
  position: relative;
}

.home-carousel {
  display: flex;
  width: 100%;
  overflow: hidden;
  height: auto;
  // gap: 30px;
}
.popular-div {
  display: flex;
  flex-direction: column;
  flex: 0 0 calc(16.666% - 35px); /* 16.666% for 6 items per row, minus margin */
  margin: 0 13px;
  // text-align: center;
  background-color: #f0f0f0;
  border-radius: 15px;
  color: white;
  padding: 25px 6px 0px 6px;
  justify-content: space-between;
  // max-height: 280px;
  height: 266px;
  width: 92px;
  // height: auto;
  h3{
    padding-left: 10px;
  }
}
.popular-div :hover{
  cursor: pointer;
}


.pop-inner-pic img {
  border-radius: 10px;
  width: 100%;
  height: auto;
}

.arrow-btn {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background:white;
  color:black;
  font-size: 24px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-left: 10px;

  box-shadow:
  rgba(0, 0, 0, 0.027) 0px 0px 0.880517px 0px, rgba(0, 0, 0, 0.03) 0px 0px 2.29197px 0px, rgba(0, 0, 0, 0.055) 0px 0px 5.52px 0px, rgba(0, 0, 0, 0.09) 0px 0px 11px 0px,
  
}

.arrow-btn.left-arrow {
  left: 10px;
}

.arrow-btn.right-arrow {
  right: 10px;
}

.arrow-btn.visible {
  display: block;
}

.arrow-btn:not(.visible) {
  display: none;
}

.light-green-div {
  background-color: $green-light;
}

.orange-div {
  background-color: $orange;
}

.dark-green-div {
  background-color: $green-dark;
}

.purple-div {
  background-color: $purple;
}

.green-shrek-div {
  background-color: $green-shrek;
}

.brown-div {
  background-color: $brown;
}

.light-brown-div {
  background-color: $brown-light;
}

.green-swamp-div {
  background-color:$green-swamp;
}

.pink-div {
  background-color: $pink;
  
}
.first-pop-div{
  margin-left: 0;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}


/* Default styles for the home-carousel */
.home-carousel-container {
  width: 100vw; /* Full viewport width */
  overflow-x: hidden; /* Hide any horizontal overflow */
}

.home-carousel {
  display: flex;
  overflow-x: auto; /* Enable horizontal scrolling */
  gap: 16px; /* Add spacing between items */
  padding: 10px; /* Add padding for better spacing */
  scroll-behavior: smooth; /* Smooth scrolling effect */
}


.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.carousel-button.left {
  left: 10px;
}

.carousel-button.right {
  right: 10px;
}





@media (max-width: 900px) {
  .popular-div {
    flex: 0 0 180px; /* Slightly smaller on medium screens */
    height: 188px;
    max-width: 138px;
padding-left: 4px;
padding-right: 4px;
padding-bottom: 4px;
padding-top: 12px;
    justify-content: space-between;
    // gap: 30px;
    h3{
      font-size: 14px
    }
 

    }
}
@media (max-width:600px){
  .home-carousel-container {
    width: 100vw; /* Full viewport width */
    overflow-x: hidden; /* Hide any horizontal overflow */
  }
  
  .home-carousel {
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling */
    gap: 16px; /* Add spacing between items */
    padding: 10px; /* Add padding for better spacing */
    scroll-behavior: smooth; /* Smooth scrolling effect */
  }
}
@media (min-width:600px){
  .home-carousel-container {
    width: 100vw; /* Full viewport width */
    overflow-x: hidden; /* Hide any horizontal overflow */
  }
  
  .home-carousel {
    display: flex;
    overflow-x: hidden; /* Enable horizontal scrolling */
    gap: 16px; /* Add spacing between items */
    padding: 10px; /* Add padding for better spacing */
    scroll-behavior:auto; /* Smooth scrolling effect */
  }
}

