

.grid-main-container{ 
    min-height: 35vw;
}
.aside-sticky-div{
    width: 415px;
    @media (max-width:900px){
      width: 100%;
      position: absolute;
      top: 1050px;
    }
}
.gig-reviews-list-carousel{
  @media (max-width:900px){

  margin-top: 400px;
  }
}

 .home-body{ 
    display: grid;
    grid-template-columns: minmax(32px, 1fr) minmax(auto, 1400px) minmax(32px, 1fr);
    .home-body-main{
        grid-column: 2;
    }
}

.container-user-details-spesific{
    display: grid;
    grid-template-columns: minmax(32px, 1fr) minmax(auto, 1400px) minmax(32px, 1fr);
    .user-gigs{
      .gigs-list{
        .gig-preview{
          .carousel-wrapper{
            width: 400px;
            .carousel{
    .carousel-item {
      width: 100%;
      position: relative;
      background: linear-gradient(180deg, white, white);
      object-fit: contain;
      width:500px;
    }
  }
}
        }
      }
    }
}

.user-contact-card {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative; 
  }
  
  .container-user-details-spesific {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .contact-header{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
  }
  .contact-header-user-text-info{ 
    display: flex;
    flex-direction: column;
text-align: start;   
gap: 3px; 

  }
  
  @media (max-width: 900px) {
    
    .container-user-details-spesific {
      display: block; 
    }
  
    .user-main-info {
      margin-bottom: 20px; 
    }
  
   
    .user-contact-card {
        z-index: 99999;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
      background-color: #fff; 
      border-radius: 0;
      padding: 20px;
      margin-left: 0px;
      height: 140px;
      box-shadow: 0 1.2px 1.92251px rgba(0,0,0,.02),0 2px 3.68135px rgba(0,0,0,.04),0 1px 5px rgba(0,0,0,.05);

    }
  
    .user-contact-card .contact-header {
  display: none;
    }
  
    .user-contact-card .contact-btn {
      width: 100%;
    }
  
    .user-details-wrapper {
      padding-bottom: 100px; 
    }
  
  }
  @media(min-width:900px){
    .user-details-specific{
        .user-details-wrapper{
            .user-contact-card{
                margin-left: 10%;
                width: 423px;
                height: 250px;
            }
        }
    }


  }

  @media(max-width:600px){
    .main-container{
      .app-header{
        nav.main-nav{
         padding: 10px;
         div.dropdown.flex{
          position: absolute;
          left: 10px;
          top:23px
          ;
         }
        }
      }
    }
  }
  
