.seller-orders-list {
    margin: 0 auto;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
    h4 {
      text-align: center;
      font-size: 1.5rem;
      color: #333;
      margin-bottom: 1rem;
      font-weight: bold;
    }
  
    .orders-table {
      width: 100%;
      border-collapse: collapse;
      font-size: 0.95rem;
      background-color: #f5f5f532;
      border-radius: 8px;
      overflow: hidden;
  
      thead {
        border-bottom: 4px solid #1dbf73;
  
        tr {
          th {
            padding: 10px 15px;
            text-align: center;
            font-weight: bold;
            color: #555;
            @media(max-width:700px){
              font-size: 12px;
padding: 10px;
          }
        }
      }
      }
  
      tbody {
        tr {
          &:hover {
            background-color: #f9f9f9;
          }
  
          td {
            @media(max-width:700px){
font-size: 10px;
padding: 5px;
            }
            // padding: 10px 15px;
            vertical-align: middle;
  
            &:first-child {
              display: flex;
              align-items: center;
  
              .buyer-pic {
                // width: 40px;
                // height: 40px;
                border-radius: 50%;
                object-fit: cover;
              }
            }
  
            .gigFirstImgUrl {

              @media(min-width:700px){
                width: 60px;
                height: 40px;
                object-fit: cover;
                margin-right: 10px;
              }
              @media(max-width:700px){
                margin-right: 0px;
                width: 30px;
                height: 30px;
                object-fit: cover;

              }
              border-radius: 4px;
            }
  
            a {
              color: #424648;
              text-decoration: none;
  
              &:hover {
                text-decoration: underline;
              }
            }
  
            .order-status {
              border: none;
              padding: 5px 10px;
              border-radius: 4px;
              color: #fff;
              font-weight: bold;
              cursor: pointer;
              text-transform: capitalize;
              @media(max-width:700px){
padding: 5px;
font-size: 10px;
width: 100px;
              }
  
              &:disabled {
                cursor: not-allowed;
                opacity: 0.6;
              }
            }
          }
        }
  
  
        td[colspan="5"] {
          text-align: center;
          color: #777;
          padding: 20px;
          font-style: italic;
        }
      }
    }
  }