// וודא שהמשתנים מוגדרים בקובץ _variables.scss
// אם לא, תוכל להוסיף את זה לקובץ _variables.scss




.user-msg {
    position: fixed;
    top: 60px;
    right: .2em;

    display: flex;
    align-items: center;

    padding: .2em;
    padding-inline-end: 20px;
    background-color: grey;

    color: white;
    font-size: .9em;

    opacity: 0;
    transform: translate(150%, 0); // תיקון של translate
    transition: 600ms;
    color: $gray4; // וודא שהמשתנה הזה מוגדר
}

.user-msg.visible {
    opacity: 1;
    transform: translate(0, 0); // תיקון של translate
}

.user-msg button {
    background-color: $gray1; // וודא שהמשתנה הזה מוגדר
    padding: 1px 6px;
    border: 0;
    border-radius: 50%;
    color: $gray4; // וודא שהמשתנה הזה מוגדר
}

.user-msg.success {
    background-color: rgb(41, 189, 73);
}

.user-msg.error {
    background-color: rgb(216, 59, 59);
}
